[submodule "hash_functions/cityhash"]
	path = hash_functions/cityhash
	url = https://github.com/google/cityhash
[submodule "hash_functions/murmur"]
	path = hash_functions/murmur
	url = https://github.com/aappleby/smhasher
[submodule "hash_functions/smhasher"]
	path = hash_functions/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "hash_functions/fastrange"]
	path = hash_functions/fastrange
	url = https://github.com/lemire/fastrange
[submodule "hash_functions/xxHash"]
	path = hash_functions/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "hash_functions/aquahash"]
	path = hash_functions/aquahash
	url = https://github.com/jandrewrogers/AquaHash.git
[submodule "hash_functions/farmhash"]
	path = hash_functions/farmhash
	url = https://github.com/google/farmhash.git
[submodule "hash_functions/bbhash"]
	path = hash_functions/bbhash
	url = https://github.com/rizkg/BBHash.git
[submodule "hash_functions/chd"]
	path = hash_functions/chd
	url = https://git.code.sf.net/p/cmph/git
[submodule "hash_functions/sux4j"]
	path = hash_functions/sux4j
	url = https://github.com/vigna/Sux4J.git
[submodule "hash_functions/suxcpp"]
	path = hash_functions/suxcpp
	url = https://github.com/vigna/sux.git
