[submodule "opensource_references/cityhash"]
	path = opensource_references/cityhash
	url = https://github.com/google/cityhash
[submodule "opensource_references/murmur"]
	path = opensource_references/murmur
	url = https://github.com/aappleby/smhasher
[submodule "opensource_references/smhasher"]
	path = opensource_references/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "opensource_references/fastrange"]
	path = opensource_references/fastrange
	url = https://github.com/lemire/fastrange
[submodule "opensource_references/recsplit"]
	path = opensource_references/recsplit
	url = https://github.com/vigna/sux
[submodule "opensource_references/xxHash"]
	path = opensource_references/xxHash
	url = https://github.com/Cyan4973/xxHash
