[submodule "opensource_references/cityhash"]
	path = opensource_references/cityhash
	url = https://github.com/google/cityhash
[submodule "opensource_references/murmur"]
	path = opensource_references/murmur
	url = https://github.com/aappleby/smhasher
[submodule "opensource_references/smhasher"]
	path = opensource_references/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "opensource_references/fastrange"]
	path = opensource_references/fastrange
	url = https://github.com/lemire/fastrange
[submodule "opensource_references/xxHash"]
	path = opensource_references/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "opensource_references/aquahash"]
	path = opensource_references/aquahash
	url = https://github.com/jandrewrogers/AquaHash.git
[submodule "opensource_references/farmhash"]
	path = opensource_references/farmhash
	url = https://github.com/google/farmhash.git
[submodule "opensource_references/bbhash"]
	path = opensource_references/bbhash
	url = https://github.com/rizkg/BBHash.git
[submodule "opensource_references/chd"]
	path = opensource_references/chd
	url = https://git.code.sf.net/p/cmph/git
[submodule "opensource_references/sux4j"]
	path = opensource_references/sux4j
	url = https://github.com/vigna/Sux4J.git
[submodule "opensource_references/suxcpp"]
	path = opensource_references/suxcpp
	url = https://github.com/vigna/sux.git
