# Project files
data/
!data/synthetic.py
benchmark/

# IDE 

## CLion
.idea

## CMake 
Debug/
Release/
cmake-build-*
cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles/
*.cbp
compile_commands.json

# MacOS
.DS_Store
